body {
  margin: 0;
  padding: 0;
}


.post-exit-active,
.comment-exit-active {
  animation: post 800ms ease-in-out forwards;
}

.post-enter-active,
.comment-enter-active {
  animation: post 800ms ease-in-out alternate-reverse;
}

.post-enter, .comment-enter {
  opacity: 0;
}
@keyframes post {
  0% {
    transform: translateX(0);
  }

  30% {
    opacity: .7;
    transform: translateX(30px);
  }

  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}

.comments-enter {
  opacity: 0
}

.comments-enter-active {
  transition: opacity 500ms ease-out;
  opacity: 1
}

.comments-exit-active {
  transition: opacity 300ms ease-out;
  opacity: 0;
}
